body {
  background-color: darkgray; /* Achtergrondkleur */
  margin: 0;
}

/* Navbar styling */
.navbar {
  overflow: hidden;
  background-color: #333; /* Kleur menu */
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px; /* Grootte menu */
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Dropdown styling */
.dropdown {
  float: left; /* Plaats de dropdown naast andere elementen */
  overflow: hidden; /* Zorg ervoor dat dropdown-inhoud goed wordt weergegeven */
}

.dropbtn {
  font-size: 17px; /* Grootte van de dropdown-knop */
  border: none; /* Geen rand */
  outline: none; /* Geen omtreklijn */
  color: #f2f2f2; /* Kleur van de tekst, overeenkomend met de navbar */
  padding: 14px 16px; /* Padding voor de knop */
  background-color: #333; /* Kleur van de dropdown-knop, overeenkomend met de navbar */
  cursor: pointer; /* Wijzig de cursor naar pointer bij hover */
}

/* Dropdown content (verberg standaard) */
.dropdown-content {
  display: none; /* Standaard verbergen */
  position: absolute; /* Plaatsing onder de knop */
  background-color: #f9f9f9; /* Achtergrondkleur van de dropdown */
  min-width: 160px; /* Minimaal breedte van de dropdown */
  z-index: 1; /* Zorgt ervoor dat het boven andere elementen staat */
}

/* Links in de dropdown */
.dropdown-content a {
  float: none; /* Zorg ervoor dat links onder elkaar staan */
  color: black; /* Kleur van de links */
  padding: 12px 16px; /* Padding voor de links */
  text-decoration: none; /* Geen onderstreping */
  display: block; /* Volledige breedte */
  text-align: left; /* Links uitlijnen */
}

/* Hover effect voor links in de dropdown */
.dropdown-content a:hover {
  background-color: #ddd; /* Achtergrondkleur bij hover */
}

/* Weergave van de dropdown-content bij hover */
.dropdown:hover .dropdown-content {
  display: block; /* Dropdown zichtbaar maken bij hover */
}

/* Footer styling */
footer {
  background-color: rgb(9, 10, 10);
  color: #f8f3f3;
  padding: 15px;
  text-align: center;
}
