body {
    background-color:darkgray;
  }

  body {margin:0;}

.navbar {
overflow: hidden;
background-color: #333;
position: fixed;
top: 0;
width: 100%;
}

.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background: #ddd;
color: black;
}

.main {
padding: 16px;
margin-top: 30px;
height: 1500px; /* Used in this example to enable scrolling */
}

/* Definieer de stijl voor de footer */
footer {
  background-color: #0d0d0d; /* Achtergrondkleur van de footer */
  color: #fff; /* Tekstkleur in de footer */
  padding: 20px; /* Binnenafstand rondom de inhoud van de footer */
  text-align: center; /* Tekst uitlijnen in het midden van de footer */
  position: fixed; /* Maak de footer vast aan de onderkant van het scherm */
  left: 0; /* Plaats de footer helemaal links op het scherm */
  bottom: 0; /* Plaats de footer helemaal onderaan het scherm */
  width: 100%; /* Zorg ervoor dat de footer de volledige breedte van het scherm in beslag neemt */
  
  <style>
        p {
            margin-left: 20px; /* Voeg 20 pixels linker marge toe aan de paragraaf */
        }
    </style>
