body {
  background-color:darkgray; /*achtergondkleur*/
  margin:0;
}


.navbar { /*menu*/
overflow: hidden;
background-color: #333; /*kleur menu*/
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px; /*grootte menu*/
text-decoration: none;
font-size: 17px;
}


.navbar a:hover {
background: #ddd;
color: black;
}


/* Stijl voor het centreren van de container in het venster */
.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

/* Stijl voor de footer onderaan de pagina */
footer {
background-color: rgb(9, 10, 10);
color: #f8f3f3;
padding: 15px;
text-align: center;
}


/* Stijl voor de container met grid-indeling */
{
display: grid;
grid-template-rows: 1fr auto;
min-height: 100vh;
}


table {
border-collapse: collapse;
width: 100%;
}


th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}


th {
background-color: #a89ede;
}




body {
background-color: darkgray; /* achtergrondkleur */
margin: 0;
}


.navbar {
overflow: hidden;
background-color: #333; /* kleur menu */
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px; /* grootte menu */
text-decoration: none;
font-size: 17px;
}


.navbar a:hover {
background: #ddd;
color: black;
}


body {
background-color: darkgray; /* achtergrondkleur */
margin: 0;
}


.navbar {
overflow: hidden;
background-color: #333; /* kleur menu */
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px; /* grootte menu */
text-decoration: none;
font-size: 17px;
}


.navbar a:hover {
background: #ddd;
color: black;
}


body {
background-color: darkgray; /* achtergrondkleur */
margin: 0;
}


.navbar {
overflow: hidden;
background-color: #333; /* kleur menu */
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px; /* grootte menu */
text-decoration: none;
font-size: 17px;
}


.navbar a:hover {
background: #ddd;
color: black;
}
body {
background-color: darkgray; /* achtergrondkleur */
margin: 0;
}


.navbar {
overflow: hidden;
background-color: #333; /* kleur menu */
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px; /* grootte menu */
text-decoration: none;
font-size: 17px;
}


.navbar a:hover {
background: #ddd;
color: black;
}


body {
background-color: darkgray; /* achtergrondkleur */
margin: 0;
}


.navbar {
overflow: hidden;
background-color: #333; /* kleur menu */
position: fixed;
top: 0;
width: 100%;
}


.navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px; /* grootte menu */
text-decoration: none;
font-size: 17px;
}


.navbar a:hover {
background: #ddd;
color: black;
}


/* Dropdown styling */
.dropdown {
float: left;
overflow: hidden;
}


.dropbtn {

